.app {
  min-height: 90vh;
  max-width: 100vw;
}
header {
  margin-bottom: 2rem;
}
#nav-new-message {
  background-color: red;
  color: white;
  border-radius: 12px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: 10px;
}
#nav-new-message i {
  margin-right: 8px;
}
#message-nav {
  display: flex;
  justify-content: space-between;
}
button {
  background: transparent;
  border: none;
}
